<!--
    <app-Grafica [Datos]="datos_grafica" *ngIf="id!=0"></app-Grafica>
-->
<app-GraficaPapas  [Datos]="datos_grafica" *ngIf="id!=0"></app-GraficaPapas> 
   <div class="elementos">
    <!-- Buscador
        <div class="seeker">
                    <div class="but">
                        <div>
                            <button type="button" class="btn btn-outline-secondary b1">Fecha
                                <i class="fa-solid fa-arrow-up"></i>
                                <i class="fa-solid fa-arrow-up fa-rotate-180"></i>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-secondary b1">Parcela Az</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-secondary b1">Cant Observada
                                <i class="fa-solid fa-arrow-up"></i>
                                <i class="fa-solid fa-arrow-up fa-rotate-180"></i>
                            </button>
                        </div>

                    </div> 
                    <div class="ElemeBusqueda">
                        <div class="barraBusqueda">
                            <input type="text" class="form-control rounded-0" placeholder="Buscador" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
    -->
       <h3>Proyectos realizados</h3>
        <div class="listado list-group" >
            <div class="DatosProyecto">
                <div class="e1">
                   <h4>ID</h4>
                </div>
                <div class="e2">
                    <h4>RANCHO</h4>
                </div>
                <div class="e2">
                    <h4>PARCELA</h4>
                </div>
                <div class="e2">
                    <h4>FECHA</h4>
                </div>
                <div class="e2">
                    <h4>ESTATUS</h4>
                </div>
            </div>
           <!--<app-Lista *ngFor="let elemento of Lista;" [Lista]="elemento" (ElementoSeleccionado)="IdDatos($event)">
           </app-Lista>-->
           <app-Lista *ngFor="let elemento of datos;" [Lista]="elemento" (ElementoSeleccionado)="IdDatos($event)">
        </app-Lista>
         </div>
        
 
   </div>
<!--   

   
        
    <div class=" DateSta">
        
        <div class="date">
            <div class="Titulo ">
                <div>
                    <h2>Datos</h2>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-chart-column fa-xl"></i>
                </div>
                
            </div>
            
            <div class="Info">
               <div class="col">
                    <div>
                        dato 1
                    </div>
                    <div>
                        dato 1
                    </div>
                    <div>
                        dato 1
                    </div>
                    <div>
                        dato 1
                    </div>
               </div>
               <div class="col">
                    <div>
                        dato 1
                    </div>
                    <div>
                        dato 1
                    </div>
                    <div>
                        dato 1
                    </div>
                    <div>
                        dato 1
                    </div>
                 </div>
            </div>
          
            
        </div>
    </div>
     

    </div>
     -->