<!--
<div class="banner">
    <div class="logotipo">
      <div class="icono">
         <i class="fa-solid fa-gear fa-spin-pulse fa-2xl" style="color: #7c0404;"></i>  
         <img class="logo" src="../../../assets/logo_gpa.png" alt="img"> 
      </div>
    </div>
    <div class="opciones">
      <div class="Op1">
        <a class="navbar-brand" routerLink="/"><h2>INICIO</h2></a>
      </div>
      <div class="Op1">
        <a class="navbar-brand" routerLink="/"><h2>MAQUINAS</h2></a>
      </div>
      <div class="Op1">
        <a class="navbar-brand" routerLink="/"><h2>ESTADISTICAS</h2></a>
      </div>
      <div class="Op1">
        <a class="navbar-brand" routerLink="/"><h2>PARCELA</h2></a>
      </div>
      <div class="Op1">
        <a class="navbar-brand" routerLink="/"><h2>RANCHO</h2></a>
      </div>
      <div class="Op1">
        <a class="navbar-brand" routerLink="/"><h2>EMPLEADOS</h2></a>
      </div>
    </div>
    <div class="usuario">
      <i class="fa-regular fa-user fa-2xl" style="color: #000000;"></i>
    </div>
    
</div>
  
-->

<nav class="navbar navbar-expand-lg navbar-light  custom">
  <div class="container-fluid">
    <a class="navbar-brand logotipo" routerLink="/">
      <img src="../../../assets/logo_gpa.png" class="logo" alt="Logo GPA">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link texto" routerLink="/">
            <div class="icono">
              Inicio
            </div>
            <div>
              <i class="fa-solid fa-house" style="color: #ffffff;"></i>
            </div>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link texto" routerLink="Maquinas">
            <div class="icono">
              Maquina
            </div>
            <div>
              <i class="fa-solid fa-tractor" style="color: #ffffff;"></i>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link texto" routerLink="Estadisticas">
            <div class="icono">
              Estadisticas
            </div>
            <div>
              <i class="fa-solid fa-chart-simple" style="color: #ffffff;"></i>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link texto" href="#">
            <div class="icono">
              Parcela
            </div>
            <div>
              <i class="fa-solid fa-wheat-awn" style="color: #ffffff;"></i>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link texto" href="#">
            <div class="icono">
              Rancho
            </div>
            <div>
              <i class="fa-solid fa-hat-cowboy" style="color: #ffffff;"></i>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link texto" href="#">
            <div class="icono">
              Empleados
            </div>
            <div>
              <i class="fa-solid fa-users" style="color: #ffffff;"></i>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link texto" href="#">
            <div class="icono">
              Cuenta
            </div>
            <div>
              <i class="fa-solid fa-user" style="color: #ffffff;"></i>
            </div>
          </a>
        </li>
        
      </ul>
    </div>
  </div>
  </nav>
     
  
  